.service-title {
  color: #fff;
}

.first-title {
  font-weight: 500;
  font-size: 36px;
}

.second-title {
  font-weight: 600;
  font-size: 46px;
  margin-bottom: 77px;
}

.service-vector {
  margin-top: 85px;
}
